@import '../../assets/styles/main.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 40px;
  max-width: 100%;
  //justify-content: center;
  //align-content: center;
}