@import '../../assets/styles/main.scss';


.profile-panel {
  position: relative;
  display: flex;
  gap: 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.sidebar {
  position: sticky;
  top: 0;
  width: 300px;
  height: fit-content;
  padding: 30px;
  background-color: $colorDark;
  border-radius: $borderRadius30;
  box-shadow: $shadow;
  color: white;
}

.sidebar-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.menu-item:hover {
  background-color: #3c3c3c;
}

.menu-item.active {
  background-color: $colorAccent;
}

.content {
  max-width: 900px;
  width: 100%;
  padding: 30px;
  background-color: $colorDark;
  border-radius: $borderRadius30;
  box-shadow: $shadow;
  color: $colorWhite;
}

.content-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}