@import '../../assets/styles/main.scss';

.section {
  max-width: $containerWidth;
  width: 100%;
  margin-block: $marginBig;
  margin: 0 auto 50px auto;

  padding: 30px;
  background-color: $colorDark;
  border-radius: $borderRadius30;
  box-shadow: $shadow;
}

.title {
  margin-bottom: 20px;

  font-size: $fontSize40;
  font-weight: 500;
  color: $colorWhite;
}