@import '../../assets/styles/main.scss';

.section {
  max-width: $containerWidth;
  width: 100%;
  margin-top: $marginBig;
  margin-inline: auto;

  &__title {
    margin-bottom: $marginSmall;
    font-size: $fontSize40;
    color: $colorGreen;
  }
}