$colorGray: #9C9C9C;
$colorLightGray: #D9D9D9;
$colorRed: #BC3133;

$colorDark: #191919;
$colorBgc: #2D2D2D;
$colorAccent: #88BC31;
$colorGreen: #9DE622;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBlue: #1A73E8;
$colorOrange: #DAA520;

$headerHeight: 100px;

$containerWidth: 1600px;
$containerWidthSmall: 1400px;

$fontFamily: 'Roboto', sans-serif;
$fontSize18: 18px;
$fontSize16: 16px;
$fontSize40: 40px;

$shadow: 0 -2px 24px 0 rgba(0, 0, 0, 0.35);

$border: 2px solid $colorAccent;
$borderRadius5: 5px;
$borderRadius10: 10px;
$borderRadius15: 15px;
$borderRadius30: 30px;

$transitionDuration: 0.2s;

$marginBig: 40px;
$marginSmall: 40px;

$inputHeight: 60px;
$inputWidth: 360px;


