$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGreen: #88BC31;
$colorGray: #9C9C9C;
$colorLightGray: #D9D9D9;
$colorRed: #BC3133;

$headerHeight: 100px;

$containerWidth: 1580px;

$fontFamily: 'Roboto', sans-serif;
$fontSize18: 18px;
$fontSize16: 16px;
$fontSize40: 40px;

$shadow: 0 0 22px 0 rgba(0, 0, 0, 0.25);

$border: 2px solid $colorGreen;
$borderRadius5: 5px;
$borderRadius15: 15px;
$transitionDuration: 0.2s;

$marginBig: 40px;
$marginSmall: 40px;

$inputHeight: 60px;
$inputWidth: 360px;


